<!DOCTYPE html>
<html>
<head>
<title>ABOUT US </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="/" class="w3-bar-item w3-button">About Us</a>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="/w3images/hamburger.jpg" alt="Hamburger Catering" width="1600" height="800">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">Aimic</h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="https://upload.wikimedia.org/wikipedia/commons/b/bf/Untitled_design_%283%29-Photoroom.png-Photoroom.png" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">Our Story</h1><br>
      <h5 class="w3-center"></h5>
        <p class="w3-large">It all started when three individuals, passionate about music and technology, came together with the aim to revolutionize the music streaming experience. Fueled by their shared vision and expertise in software development, they embarked on a journey to create Aimic </p>
      <p class="w3-large w3-text-grey w3-hide-medium">Welcome to Aimic, your ultimate destination for a seamless music streaming experience. Aimic is committed to providing high-quality music and an immersive platform for music enthusiasts worldwide. Our mission is to connect people through the universal language of music, offering a diverse range of genres and artists to cater to every taste</p>
    </div>
  </div>

  <hr>

  <!-- Menu Section -->
  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">FEATURES</h1><br>
      <h4>Extensive Music Library</h4>
      <p class="w3-text-grey"></p>Access millions of songs from various genres<br>

      <h4>Offline Listening</h4>
      <p class="w3-text-grey"></p>Download your favorite tracks to listen offline<br>

      <h4>High-Quality Audio</h4>
      <p class="w3-text-grey"></p>Enjoy crystal-clear audio quality for an immersive experience<br>

      <h4>User Feedback Mechanism</h4>
      <p class="w3-text-grey">Share your feedback and suggestions to help us improve.</p><br>

    </div>

    <div class="w3-col l6 w3-padding-large">
      <img src="https://c8.alamy.com/comp/2G1WKBA/indie-rock-round-composition-color-illustration-of-music-related-objects-such-as-guitar-sound-amplifier-rock-inscriptions-template-for-poster-2G1WKBA.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    </div>
  </div>

  <hr>